/* OrderActions.css */
.order-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.place-order-btn {
  padding: 12px 24px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-seri;
  background-color: #ff7f50;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.place-order-btn:hover {
  background-color: #ff6347; /* Darker shade on hover */
}

.place-order-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.wallet-balance {
  font-style: italic;
  color: #f44336;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-seri;
  font-size: 18px;
}

.wallet-label {
  font-style: italic;
  color: #3695f4;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-seri;
}

.wallet-balance-message {
  font-style: italic;
  margin-top: 20px;
  color: #f60a0a;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-seri;
  font-size: 18px;
}

.order-datetime {
  margin-top: 20px;
  font-size: 20px;
  color: #555;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-seri;
}

.custom-toast {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-seri !important;
  font-size: 23px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5ed !important;
  color: black !important;
  text-align: center;
  width: 450px;
  height: 150px;
}
.Toastify__close-button .Toastify__close-button--light {
  color: black !important;
}
.custom-toast-success {
  background-color: #4caf50;
}

.custom-toast-error {
  background-color: #f44336;
}
