.orderBody {
  width: 80%;
  margin: auto;
}

.orderBody .noItems {
  text-align: center;
  padding: 3rem;
}
.orderBody .heading {
  padding: 1rem;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  text-transform: capitalize;
}

p,
h3 {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.4rem 1.2rem;
  border-radius: 2rem;
  margin: auto;
  place-items: center;
  margin-top: 3%;
  margin-bottom: 1%;
  padding: 1rem;
}

.summary {
  display: flex;
}
.summary p {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  width: 45%;
}

.datetime {
  font-weight: 600;
  font-size: 1.2rem;
}

.container .items {
  display: flex;
  padding: 1rem;
}

.items .image {
  width: max-content;
}

.items .image img {
  width: 10rem;
  height: auto;
  border-radius: 1rem;
  object-fit: cover;
}

.items .info {
  width: 40%;
  padding: 0 0.8rem;
}

.items .info .itemName {
  padding-bottom: 0.9rem;
}
.items .info small {
  font-size: 1.2rem;
}

.items .info .orderId {
  color: #5f5f5f;
  font-size: 1.08rem;
}

.items .price {
  width: 10%;
  justify-content: flex-start;
  align-items: normal;
  font-weight: 500;
  font-size: 1.5rem;
}

.items .deliver {
  width: 40%;
  display: flex;
  display: block;
}

.items .deliver .dot1 {
  background-color: green;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: none;
  display: inline-block;
  margin-right: 8px;
}
.items .deliver .dot2 {
  background-color: gold;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: none;
  display: inline-block;
  margin-right: 8px;
}
.items .deliver .dot3 {
  background-color: gold;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: none;
  display: inline-block;
  margin-right: 8px;
}


.items .deliver span {
  font-size: 1.5rem;
  font-weight: 500;
  color: #212121;
}
